In [ ]:
list(range(10))
print(list)

<class 'list'>

In [ ]:
nested_list = [1, [2, 'three'], 4.5]
second_element = nested_list[1]
print(second_element[1])
nested_element = nested_list[1][0]
print(nested_element)

three
2

List Comprehension

In [ ]:
squares = [x**2 for x in range(10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [1]:
even_squares = [x**2 for x in range(10) if x % 2 == 0]
print(even_squares)

[0, 4, 16, 36, 64]

Nested List Comprehensions

In [2]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
numbers = [x for x in range(20) if x % 2 == 0 if x % 3 == 0]
print(numbers)  # Output: [0, 6, 12, 18]

[0, 6, 12, 18]

Using Functions in List Comprehension

In [5]:
def double(x):
    return x * 2

doubled_numbers = [double(x) for x in range(10)]
print(doubled_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Advanced Examples

In [8]:
#Generating a Matrix
matrix = [[j for j in range(5)] for i in range(3)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [9]:
#Transposing a Matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transposed = [[row[i] for row in matrix] for i in range(len(matrix[0]))]
print(transposed)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [10]:
#Creating a Dictionary
squares_dict = {x: x**2 for x in range(10)}
print(squares_dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Conditional Expression

In [ ]:
numbers = [x if x % 2 == 0 else -x for x in range(10)]
print(numbers)

Combining with Other Comprehensions

In [11]:
unique_squares = {x**2 for x in range(10)}
print(unique_squares)

square_generator = (x**2 for x in range(10))
print(list(square_generator))

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]